.notfound {
    width: 100%;
    height: 100vh;
    background-color: #f9a542;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notfound a:hover {
    text-decoration: underline;
}


@media screen and (max-width:600px) {
    .notfound img {
        width: 100%;
    }
}
