.articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: sticky;
    top: 70px;
    z-index: 50;
}

.search button {
    color: #246DBA;
    font-size: 1.4rem;
    margin-left: 4px;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
}

.search button:hover {
    color: #19497c;
}

.search input {
    font-size: 1.1rem;
    width: 300px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(255, 248, 181);
}