.articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: sticky;
    top: 70px;
    z-index: 50;
}

.iconsearch {
    background-color: #fff8b5;
    color: #5a5a5a;
    border: none;
    font-size: 1.2rem;
    height: 31px;
    padding: 0 7px;
    display: grid;
    place-items: center;
}

.search input {
    font-size: 1.1rem;
    width: 300px;
    padding: 5px;
    border: none;
    background-color: #fff8b5;
}