.contacto form {
    width: 100%;
    height: 85vh;
    font-size: 1.4rem;
    font-weight: bold;
    color: #246DBA;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto input, .contacto textarea {
    margin: 10px;
    border-radius: 6px;
    font-size: 1.1rem;
}

.contacto input {
    width: 35%;
    padding: 5px;
}

.contacto textarea {
    width: 50%;
    padding: 8px;
}

.enviar {
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #ffb71c;
    border: none;
    border-radius: 5px;
}

.enviar:hover {
    background-color: #e6a519;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 700px) {
    .contacto input {
        width: 75%;
    }

    .contacto textarea {
        width: 90%;
    }
}
