.card {
    width: 220px;
    height: auto;
    border: 1px solid black;
    margin: 10px;
    padding: 5px 5px 10px 5px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h3 {
    color: #246DBA;
    margin: 5px 0;
}

.card h4 {
    color: #246DBA;
    font-size: 1.4rem;
    margin: 10px 0;
}

.card p {
    font-weight: bold;
    margin: 5px 0;
}

.card:hover {
    background-color: #eeeeee;
}

.imgcontainer {
    width: 220px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 5px;
}

.imgcontainer img {
    width: 100%;
    object-fit: cover;
}

.imgcontainer img:hover {
    transform: scale(1.2);
}

.cantidad {
    font-size: 1.2rem;
    width: 25px;
    border-radius: 50%;
    background-color: #FFF;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.card span {
    font-size: 1.2rem;
    color: #000;
}

.btn-carrito {
    width: 75%;
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    background-color: #ffb71c;
}

.btn-carrito:hover {
    background-color: #e6a519;
    cursor: pointer;
}


